button {
    padding: 20px;
    margin:10px;
    width: 100px;
    background-color: white;
    border: solid 1px black;
}

button:active {
    background-color: black;
    color: white;
}

button:hover{
    text-shadow: 1px 1px lightgray;
    box-shadow: 2px 2px lightgray;
}

button:focus {
    outline: none;
}