button {
    padding: 20px;
    margin:10px;
    width: 100px;
    background-color: white;
    border: solid 1px black;
    font-family: 'Inconsolata', monospace;
    font-size: 12px;
}

button:active {
    background-color: black;
    color: white;
}

button:hover{
    text-shadow: 1px 1px lightgray;
    box-shadow: 2px 2px lightgray;
}

button:focus {
    outline: none;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    outline: none;
    background: grey;
    height: 3px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 9px;
    background: black;
    cursor: pointer;
  }
